@model ContractMontlyClaimSystem.Models.Claim

<h2>Submit a New Claim</h2>

<form>
    <label for="description"> Claim Description:</label>
    <textarea id="description" name="description"></textarea><br/><br/>

    <label for="SubmissionDate">SubmissionDate:</label>
    <input type="date" id="submissionDate" name="submissionDate" /><br/><br/>

    <button type="submit">Submit Claim</button>
</form>
