@model ContractMonthlyClaimSystem.Models.Document

<h2>Upload Supporting Document</h2>

<form>
    <label for="fileUpload">Upload File:</label>
    <input type="file" id="fileUpload" name="fileUpload" /><br /><br />

    <button type="submit">Upload Document</button>
</form>
